@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	color:var(--CIS10);
	margin: 0;
	padding: 0;
	background-color: var(--CS10);
	width: 100vw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	overflow-x: hidden;
	font-family: 'Lato';
}