@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	color:var(--CIS10);
	margin: 0;
	padding: 0;
	background-color: var(--CS10);
	width: 100vw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	overflow-x: hidden;
	font-family: 'Lato';
}


blockquote{
  margin: 0; /* Remove margem padrão */
  padding: .5rem;
  border-left: 5px solid #ccc; /* Adiciona uma borda esquerda */
  background-color: var(--CIS-5); /* Cor de fundo */
  color: #666; /* Cor do texto */
  font-style: italic; /* Define o estilo da fonte para itálico */
  font-size: .9rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1.17rem;
  margin-bottom: 0.6rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

h5 {
  font-size: 0.83rem;
  margin-bottom: 0.3rem;
}

h6 {
  font-size: 0.67rem;
  margin-bottom: 0.2rem;
}

/* Estilos para parágrafos */
p {
  margin-bottom: 1rem;
}

/* Estilos para listas */
ul, ol {
  margin-bottom: 1rem;

  list-style-type: decimal;
}
ol{

  list-style-type: circle;
}
li{
	margin-left: 1rem;
}


/* Estilos para links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para imagens */
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

/* Estilos para blocos de código */
pre {
  background-color: var(--CIS-5);
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
  margin-bottom: 1rem;
}

code {
  background-color: var(--CIS-5);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-family: Consolas, monospace;
}

/* Estilos para texto em negrito e itálico */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* Estilos para linha horizontal */
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
}