
:root{
	--CS10: rgba(10,12,15,1);
	--CS8: rgba(10,12,15,.8);
	--CS6: rgba(10,12,15,.6);
	--CS4: rgba(10,12,15,.4);
	--CS2: rgba(10,12,15,.2);
	--CS1: rgba(10,12,15,.1);

	--CIS10: rgba(245, 243, 240,1);	
	--CIS8: rgba(245, 243, 240,.8);
	--CIS6: rgba(245, 243, 240,.6);
	--CIS4: rgba(245, 243, 240,.4);
	--CIS2: rgba(245, 243, 240,.2);
	--CIS1: rgba(245, 243, 240,.1);
	--CIS-5: rgba(245, 243, 240,.05);

	--CD: #1f5165;
	--CD2: #ff5165;

	--BG: 100;
	--CT: 0;

	--CTH: black;
	--CITH: white;

}

/*Cores fortes no final*/