
:root{
	--color1: #1f5165;
	--color2: #080b12;
	--color3: #0da3aa;
	--color4: #6AC461;
	--colorInverted: rgb(245,245,245);
	--colorInverted2: rgb(235,235,235);
	--colorScheme: rgb(10,10,10);
	--colorScheme2: rgb(30,30,30);
}

/*Cores fortes no final*/