@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--color1: #003944;
	--color2: #e6f4f1;
	--color3: #66ccd8; /*Cor oposta ao do texto*/
	--color4: #003944; /*Cor do texto padrão*/
	--colorInverted: rgb(10,10,10);
	--colorInverted2: rgb(20,20,20);
	--colorScheme: rgb(245,245,245);
	--colorScheme2: rgb(225,225,225);
}
